<%= content_for :meta do %>
    <meta "sailthru.date" content="<%= @post.created_at %>" />
    <meta "sailthru.title" content="<%= @post.title %>" />
    <meta "sailthru.tags" content="<%= @post.tags %>" />
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tags %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div id="sailthru-scout">
  <div class="loading">
    Loading, please wait...
  </div>
</div>
 
<script type="text/javascript" src="http://cdn.sailthru.com/scout/v1.js"></script>
<script type="text/javascript">
                SailthruScout.setup({
                    domain: 'horizon.example.com'
                });
</script>
