<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Sailthru @ maxenglander.com" %></title>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if content_for? :head %>
      <%= yield :head %>
  <% end %>
</head>
<body>

<%= yield %>

<% if ENV["HORIZON_ENABLED"] %>
    <%= render 'common/horizon' %>
<% end %>

<%if ENV["SCOUT_ENABLED"] %>
    <%= render 'common/scout' %>
<%end%>

<% if ENV["GOOGLE_ANALYTICS_ENABLED"] %>
    <%= render 'common/google_analytics' %>
<% end %>

</body>
</html>
