<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Sailthru @ maxenglander.com" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if content_for? :head %>
      <%= yield :head %>
  <% end %>
</head>
<body>

<% @puppetclass="horizon" %>
<% @node="web01" %>
<% if @puppetclass=="test"%>
    <p>fail</p>
<%elsif @puppetclass=="horizon"%>
    <p>hello</p>
    <%if @node=="web01"%>
        <p>world</p>
    <%end%>
<%end%>

<%= yield %>

<!-- Sailthru Horizon -->
<% if @enable_horizon %>
<script type="text/javascript">
    (function() {
        function loadHorizon() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = location.protocol + '//ak.sail-horizon.com/horizon/v1.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        loadHorizon();
        var oldOnLoad = window.onload;
        window.onload = function() {
            if (typeof oldOnLoad === 'function') {
                oldOnLoad();
            }
            Sailthru.setup({
                domain: 'horizon.coolshit.com', concierge: true
            });
        };
    })();
</script>
<% end %>
</body>
</html>
